.Article > img {
  max-width: 95%;

  margin: 10px auto;
}

.Article p {
  text-align: left;
  margin-left: 10px;
}

.Article aside {
  border: 1px solid black;
  margin: 15px auto;
  padding: 5px;

  display: flex;
  align-items: center;
  
}

.Article aside p {
  margin: 0 15px;
}